In [42]:
import pandas as pd
import numpy as np
import tqdm
import re
import scipy.stats as st
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [43]:
dataset = pd.read_csv("letras_final.csv", parse_dates=["date"])
dataset.drop(['Unnamed: 0', 'Unnamed: 0.1' ], axis = 1, inplace = True)
dataset.isna().sum()

artist_name           0
title                 0
album                 0
featured_artists      0
lyrics               58
date                276
url                   0
dtype: int64

In [44]:
dataset["artist_name"].value_counts()

Phoenix RDC              69
Sam The Kid              59
ProfJam                  49
Boss AC                  48
Xeg                      44
Bispo                    44
Jimmy P                  43
Regula                   41
Dealema                  39
Allen Halloween          38
LON3R JOHNY              37
Da Weasel                37
Dillaz                   36
Valete                   35
NGA                      35
Piruka                   31
GROGNation               31
Prodígio                 30
Alcool Club              30
Nerve                    29
Agir                     27
Slow J                   26
Conjunto Corona          26
Keso                     25
Plutonio                 22
Deejay Telio             20
Kappa Jotta              20
X-Tense                  18
Tóy Tóy T-Rex            18
Força Suprema            17
Wet Bed Gang             17
Carlão (PacMan)          16
Mike El Nite             15
Chico da Tina            15
Cálculo                  15
Estraca                  14
Waze                     13
Fínix MG                 13
Classe Crua              11
9 Miller                 10
Valas                    10
Papillon                 10
Vado Más Ki Ás            9
Holly Hood                9
SippinPurpp               9
Sir Scratch (PRT)         7
Deezy (Dope Muzik)        6
5-30                      6
ProfJam x benji price     6
Gson                      2
Name: artist_name, dtype: int64

In [45]:
dataset['lyrics'] = dataset['lyrics'].fillna(value='')

def remove_punct(s):
    new_lyr = re.sub(r'[^\w\s]', '', s).lower()
    new_lyr = re.sub(r'[\n]', ' ', new_lyr).lower()
    return new_lyr

dataset.lyrics = dataset.lyrics.apply(remove_punct)

In [46]:
#lyrics length
dataset["lyrics_len"] = [len(x) for x in dataset["lyrics"]]

In [47]:
# remover stopwords e tokenizar

stopwords_pt = nltk.corpus.stopwords.words('portuguese')
stopwords_pt.append("porque")
dataset['no_stopwords'] = dataset.apply(lambda x : ' '.join([word for word in x['lyrics'].split(' ') if word not in stopwords_pt]), axis = 1)
dataset['tokens'] = dataset['no_stopwords'].apply(nltk.word_tokenize)

In [48]:
dicionario = pd.read_csv("dicionario_limpo.csv")
dicionario

,Unnamed: 0,term,description,level,synonym,scale
0,1,abafa-palhinha,&bullet; homossexual masculino passivo,calão carroceiro,arrombado; paneleiro; larilas; lelé; bicha; b...,3
1,4,abananado,"admirado, aturdido e sem palavras",coloquial,estupefacto; azuratado; aturdido; embasbacado...,1
2,11,à beça,em grande quantidade,coloquial,NaN,1
3,13,abichanado,&bullet; homossexual masculino passivo,calão,arrombado; paneleiro; larilas; lelé; bicha; b...,2
4,20,abono de família,"órgão sexual masculino, pénis, pênis",coloquial,NaN,1
...,...,...,...,...,...,...
715,6508,xarro,NaN,coloquial,cavalo; heroína; charro,1
716,6511,xibungo,&bullet; homossexual masculino passivo,calão carroceiro,arrombado; paneleiro; larilas; lelé; bicha; b...,3
717,6512,xilindró,cadeia,coloquial,pildra; choça; prisão; prisa; calabouço; masm...,1
718,6518,xulo,é um:,calão carroceiro,none,3
719,6524,zuate,"referente à região das nádegas ou ânus, freque...",calão,bunda; alcofa; cu; peida; rabo; bilha; trasei...,2

In [49]:
#finding matches for swear words

lyrics_sets = dataset["tokens"]
swear_words = list(dicionario["term"])
scores = pd.Series(dicionario.scale.values,index=dicionario.term).to_dict()
score_data = []
swear_words_by_song = []

for lyrics in lyrics_sets:
  total_swear_score = 0
  swear_words_in_lyrics = [token for token in lyrics if token in swear_words]

  for swear in swear_words_in_lyrics:
      total_swear_score += scores.get(swear)

  swear_words_by_song.append(swear_words_in_lyrics)
  score_data.append(total_swear_score)

dataset["swears"] = swear_words_by_song
dataset["score"] = score_data

In [50]:
mean_by_artist = dataset.groupby('artist_name')['score'].mean()
mean_by_artist

artist_name
5-30                      6.000000
9 Miller                 18.100000
Agir                      2.037037
Alcool Club               6.466667
Allen Halloween          12.131579
Bispo                     9.727273
Boss AC                   3.750000
Carlão (PacMan)           4.750000
Chico da Tina            12.266667
Classe Crua               5.090909
Conjunto Corona           5.192308
Cálculo                   4.800000
Da Weasel                 4.513514
Dealema                   5.871795
Deejay Telio             11.750000
Deezy (Dope Muzik)        5.333333
Dillaz                    6.527778
Estraca                   4.142857
Força Suprema             8.941176
Fínix MG                  9.769231
GROGNation                8.129032
Gson                      2.000000
Holly Hood                8.777778
Jimmy P                   3.302326
Kappa Jotta               8.650000
Keso                      5.960000
LON3R JOHNY               2.648649
Mike El Nite              6.933333
NGA                      10.142857
Nerve                     6.000000
Papillon                  7.500000
Phoenix RDC              10.028986
Piruka                    6.806452
Plutonio                  3.636364
Prodígio                  4.666667
ProfJam                   8.408163
ProfJam x benji price    13.833333
Regula                    9.292683
Sam The Kid               6.016949
SippinPurpp               8.222222
Sir Scratch (PRT)         1.285714
Slow J                    2.961538
Tóy Tóy T-Rex             5.611111
Vado Más Ki Ás            8.111111
Valas                     1.800000
Valete                    4.800000
Waze                      3.461538
Wet Bed Gang              9.176471
X-Tense                   9.722222
Xeg                       8.363636
Name: score, dtype: float64

In [51]:
#filtering misogynistic terms

lady_parts = dicionario[dicionario['description'].str.contains('órgão sexual feminino', na=False)]
men_parts = dicionario[dicionario['description'].str.contains('órgão sexual masculino', na=False)]
women_rude = dicionario[dicionario['synonym'].str.contains('prostituta', na=False)]
oral_sex = dicionario[dicionario['description'].str.contains('sexo oral', na=False)]
anal_sex = dicionario[dicionario['description'].str.contains('sexo anal', na=False)]
semen = dicionario[dicionario['description'].str.contains('esperma', na=False)]

dicionario_misoginia = pd.concat([lady_parts, women_rude, men_parts, semen, oral_sex], ignore_index= True)
dicionario_misoginia

,Unnamed: 0,term,description,level,synonym,scale
0,525,boceta,órgão sexual feminino,calão carroceiro,cona; pipi; pito; pitaço; pirona; rata; vagin...,3
1,977,cona,órgão sexual feminino,calão muito carroceiro,pipi; pito; pitaço; pirona; rata; vagina; nin...,4
2,978,conaça,órgão sexual feminino,calão muito carroceiro,cona; pipi; pito; pitaço; pirona; rata; vagin...,4
3,1106,crica,órgão sexual feminino,calão muito carroceiro,cona; pipi; pito; pitaço; pirona; rata; vagin...,4
4,1957,entrefolhos,órgão sexual feminino,calão,cona; pipi; pito; pitaço; pirona; rata; vagin...,2
...,...,...,...,...,...,...
75,2585,fazer um bico,&bullet; sexo oral masculino,calão estupidamente carroceiro,fazer um broche; fazer um bobó; mamada; chupa...,5
76,2586,fazer um bobó,&bullet; sexo oral masculino,calão muito carroceiro,fazer um broche; mamada; chupa-me a pichota; ...,4
77,2589,fazer um broche,&bullet; sexo oral masculino,calão estupidamente carroceiro,fazer um bobó; mamada; chupa-me a pichota; fa...,5
78,2631,felácio,&bullet; sexo oral masculino,calão,fazer um broche; fazer um bobó; mamada; chupa...,2
79,3441,mamada,&bullet; sexo oral masculino,calão muito carroceiro,fazer um broche; fazer um bobó; chupa-me a pi...,4

In [52]:
#dicionario[dicionario['description'].str.contains('insulto a árbitro', na=False)]

In [53]:
lyrics_sets = dataset["tokens"]
misogynistic_words = list(dicionario_misoginia["term"])

misogyny_score = pd.Series(dicionario_misoginia.scale.values,index=dicionario_misoginia.term).to_dict()
misogyny_score_data = []
misogynistic_words_by_song = []

for lyrics in lyrics_sets:
  total_misogynistic_score = 0
  misogynistic_words_in_lyrics = [token for token in lyrics if token in misogynistic_words]

  for swear in misogynistic_words_in_lyrics:
      total_misogynistic_score += misogyny_score.get(swear)

  misogynistic_words_by_song.append(misogynistic_words_in_lyrics)
  misogyny_score_data.append(total_misogynistic_score)

dataset["misogynistic_swears"] = misogynistic_words_by_song
dataset["misogynistic_score"] = misogyny_score_data

In [55]:
# correlating misogyny with swearing
dataset['score'].corr(dataset["misogynistic_score"])

0.6534675100752511

In [56]:
#describing swearing and misogyny scores

columns_of_interest = ['score', 'misogynistic_score']
two_columns_of_data = dataset[columns_of_interest]
two_columns_of_data.describe()

             score  misogynistic_score
count  1237.000000         1237.000000
mean      6.884398            1.205335
std      10.988832            5.945943
min       0.000000            0.000000
25%       0.000000            0.000000
50%       4.000000            0.000000
75%       9.000000            0.000000
max     150.000000          150.000000

In [89]:
#describing misogyny per artist

misogyny_score_chart = pd.DataFrame()

misogyny_score_chart["Pontuação média de calão"] = dataset.groupby(["artist_name"])["score"].mean()
misogyny_score_chart["Pontuação mediana de calão"] = dataset.groupby(["artist_name"])["score"].median()
misogyny_score_chart["Pontuação máxima de calão"] = dataset.groupby(["artist_name"])["score"].max()
misogyny_score_chart["Pontuação média de misoginia"] = dataset.groupby(["artist_name"])["misogynistic_score"].mean()
misogyny_score_chart["Pontuação total de misoginia"] = dataset.groupby(["artist_name"])["misogynistic_score"].sum()
misogyny_score_chart["Pontuação máxima de misoginia"] = dataset.groupby(["artist_name"])["misogynistic_score"].max()
#misogyny_score_chart.reset_index(inplace=True)
#misogyny_score_chart.rename(columns={'artist_name': 'Artista'}, inplace = True)

#misogyny_score_chart.to_csv("misogyny_score_chart.csv")
misogyny_score_chart

,Artista,Pontuação média de calão,Pontuação mediana de calão,Pontuação máxima de calão,Pontuação média de misoginia,Pontuação total de misoginia,Pontuação máxima de misoginia
0,5-30,6.000000,5.0,14,3.166667,19,12
1,9 Miller,18.100000,15.5,44,5.800000,58,21
2,Agir,2.037037,0.0,23,0.000000,0,0
3,Alcool Club,6.466667,4.0,30,1.766667,53,20
4,Allen Halloween,12.131579,5.5,88,2.421053,92,19
5,Bispo,9.727273,7.0,72,0.295455,13,3
6,Boss AC,3.750000,2.5,28,0.500000,24,9
7,Carlão (PacMan),4.750000,0.5,50,0.312500,5,2
8,Chico da Tina,12.266667,10.0,53,2.600000,39,15
9,Classe Crua,5.090909,4.0,18,2.181818,24,12
10,Conjunto Corona,5.192308,1.5,29,1.615385,42,15
11,Cálculo,4.800000,2.0,21,0.266667,4,3
12,Da Weasel,4.513514,3.0,41,0.324324,12,3
13,Dealema,5.871795,3.0,52,0.666667,26,8
14,Deejay Telio,11.750000,0.0,150,7.700000,154,150
15,Deezy (Dope Muzik),5.333333,4.5,12,0.000000,0,0
16,Dillaz,6.527778,4.5,37,1.527778,55,26
17,Estraca,4.142857,2.5,20,0.500000,7,7
18,Força Suprema,8.941176,7.0,38,0.470588,8,3
19,Fínix MG,9.769231,10.0,19,1.384615,18,5
20,GROGNation,8.129032,5.0,49,1.838710,57,9
21,Gson,2.000000,2.0,4,0.000000,0,0
22,Holly Hood,8.777778,7.0,21,0.333333,3,3
23,Jimmy P,3.302326,1.0,18,0.418605,18,8
24,Kappa Jotta,8.650000,4.0,61,3.000000,60,54
25,Keso,5.960000,4.0,36,0.880000,22,14
26,LON3R JOHNY,2.648649,0.0,42,0.081081,3,3
27,Mike El Nite,6.933333,7.0,18,0.466667,7,3
28,NGA,10.142857,6.0,129,1.000000,35,10
29,Nerve,6.000000,3.0,26,0.724138,21,9
30,Papillon,7.500000,7.5,27,1.000000,10,6
31,Phoenix RDC,10.028986,8.0,53,1.855072,128,24
32,Piruka,6.806452,5.0,20,0.193548,6,3
33,Plutonio,3.636364,1.5,22,0.818182,18,9
34,Prodígio,4.666667,2.5,17,0.433333,13,9
35,ProfJam,8.408163,6.0,78,2.265306,111,66
36,ProfJam x benji price,13.833333,11.5,30,2.333333,14,7
37,Regula,9.292683,8.0,30,1.463415,60,10
38,Sam The Kid,6.016949,2.0,36,0.711864,42,9
39,SippinPurpp,8.222222,6.0,22,0.555556,5,5
40,Sir Scratch (PRT),1.285714,1.0,4,0.000000,0,0
41,Slow J,2.961538,0.0,19,0.115385,3,3
42,Tóy Tóy T-Rex,5.611111,4.5,18,0.111111,2,2
43,Vado Más Ki Ás,8.111111,6.0,33,0.888889,8,8
44,Valas,1.800000,1.0,8,0.800000,8,8
45,Valete,4.800000,2.0,22,0.857143,30,9
46,Waze,3.461538,3.0,8,0.000000,0,0
47,Wet Bed Gang,9.176471,7.0,24,1.000000,17,6
48,X-Tense,9.722222,8.0,24,0.666667,12,5
49,Xeg,8.363636,3.0,113,2.840909,125,81

In [81]:
#dataset.to_csv("dataset.csv")


#describing unique words by artist
artist_word_unique = pd.DataFrame()
artist_word_unique["what"] = dataset.groupby(["artist_name", "no_stopwords"])

split_data = [list(i) for i in artist_word_unique["what"]]
artist_word_unique["Artist"] = [i[0] for i in split_data]
artist_word_unique["Lyrics"] = [i[1] for i in artist_word_unique["Artist"]]
artist_word_unique["Artist"] = [i[0] for i in artist_word_unique["Artist"]]
artist_word_unique

,what,Artist,Lyrics
0,"((5-30, ), [artist_name])",5-30,
1,"((5-30, canta som moca baze nova sombra retoca...",5-30,canta som moca baze nova sombra retoca base lá...
2,"((5-30, comenta lamenta quer guarde enquanto l...",5-30,comenta lamenta quer guarde enquanto lentament...
3,"((5-30, quero morrer hoje saudades tanta coisa...",5-30,quero morrer hoje saudades tanta coisa fiz que...
4,"((5-30, tempo chegou hora momento agora testem...",5-30,tempo chegou hora momento agora testemunha nov...
...,...,...,...
1224,"((Xeg, yeh egotripping man contame histórias b...",Xeg,yeh egotripping man contame histórias boy quê ...
1225,"((Xeg, yeh niggas dont chill yeh boy xeg is ch...",Xeg,yeh niggas dont chill yeh boy xeg is chilling ...
1226,"((Xeg, yo mariana andote mancar panorama dread...",Xeg,yo mariana andote mancar panorama dreads andas...
1227,"((Xeg, yo xeg remisturas vol1 bemvindos trabal...",Xeg,yo xeg remisturas vol1 bemvindos trabalho ediç...
1228,"((Xeg, ás vezes penso comigo tudo ser feliz ou...",Xeg,ás vezes penso comigo tudo ser feliz outras si...

In [82]:
vc = artist_word_unique.Artist.value_counts()
vc = vc.reset_index()
vc.rename(columns={'Artist':'Number of Songs', 'index': 'Artist'}, inplace=True)
vc

                   Artist  Number of Songs
0             Phoenix RDC               69
1             Sam The Kid               58
2                 ProfJam               49
3                 Boss AC               47
4                   Bispo               44
5                 Jimmy P               43
6                     Xeg               43
7                  Regula               41
8                 Dealema               38
9         Allen Halloween               38
10            LON3R JOHNY               37
11              Da Weasel               36
12                 Dillaz               35
13                 Valete               35
14                    NGA               35
15                 Piruka               31
16             GROGNation               31
17               Prodígio               30
18            Alcool Club               30
19                  Nerve               28
20                   Agir               27
21        Conjunto Corona               26
22                 Slow J               26
23                   Keso               24
24               Plutonio               22
25            Kappa Jotta               20
26           Deejay Telio               20
27          Tóy Tóy T-Rex               18
28                X-Tense               18
29           Wet Bed Gang               17
30          Força Suprema               17
31        Carlão (PacMan)               16
32          Chico da Tina               15
33                Cálculo               15
34           Mike El Nite               15
35                Estraca               14
36               Fínix MG               13
37                   Waze               13
38            Classe Crua               11
39               9 Miller               10
40                  Valas               10
41               Papillon               10
42         Vado Más Ki Ás                9
43            SippinPurpp                9
44             Holly Hood                9
45      Sir Scratch (PRT)                7
46                   5-30                6
47     Deezy (Dope Muzik)                6
48  ProfJam x benji price                6
49                   Gson                2

In [99]:
#describing unique words by artist

def myfunc(x):
    s = [element for element in x]
    return " ".join(s)

df_perfect = artist_word_unique.groupby("Artist").agg({"Lyrics": lambda x: myfunc(x)})

real_unique = df_perfect.Lyrics.apply(lambda x: len(set([i.strip() for i in x.split(" ") if i != ""])))
real_unique = real_unique.reset_index()
real_unique.rename(columns={'Lyrics':'Palavras únicas'}, inplace=True)
real_unique = real_unique.merge(vc, how="left", on="Artist")
real_unique["ratio_unique"] = real_unique["Palavras únicas"] / real_unique["Number of Songs"]
real_unique.rename(columns={'Artist': 'Artista', "Number of Songs": 'Nº de Canções'}, inplace = True)
final_score = real_unique.merge(misogyny_score_chart, how="left", on="Artista")
final_score["Pontuação Final de Misoginia"] = final_score["Pontuação total de misoginia"] / final_score["Palavras únicas"]
final_score["Pontuação Final de Misoginia/Canção"] = final_score["Pontuação total de misoginia"] / final_score["Nº de Canções"]

In [100]:
final_score.sort_values(by="Pontuação Final de Misoginia/Canção", ascending = False)

,Artista,Palavras únicas,Nº de Canções,ratio_unique,Pontuação média de calão,Pontuação mediana de calão,Pontuação máxima de calão,Pontuação média de misoginia,Pontuação total de misoginia,Pontuação máxima de misoginia,Pontuação Final de Misoginia,Pontuação Final de Misoginia/Canção
14,Deejay Telio,725,20,36.250000,11.750000,0.0,150,7.700000,154,150,0.212414,7.700000
1,9 Miller,1502,10,150.200000,18.100000,15.5,44,5.800000,58,21,0.038615,5.800000
0,5-30,650,6,108.333333,6.000000,5.0,14,3.166667,19,12,0.029231,3.166667
24,Kappa Jotta,2329,20,116.450000,8.650000,4.0,61,3.000000,60,54,0.025762,3.000000
49,Xeg,4769,43,110.906977,8.363636,3.0,113,2.840909,125,81,0.026211,2.906977
8,Chico da Tina,1663,15,110.866667,12.266667,10.0,53,2.600000,39,15,0.023452,2.600000
4,Allen Halloween,3259,38,85.763158,12.131579,5.5,88,2.421053,92,19,0.028230,2.421053
36,ProfJam x benji price,990,6,165.000000,13.833333,11.5,30,2.333333,14,7,0.014141,2.333333
35,ProfJam,4711,49,96.142857,8.408163,6.0,78,2.265306,111,66,0.023562,2.265306
9,Classe Crua,1728,11,157.090909,5.090909,4.0,18,2.181818,24,12,0.013889,2.181818
31,Phoenix RDC,6050,69,87.681159,10.028986,8.0,53,1.855072,128,24,0.021157,1.855072
20,GROGNation,4349,31,140.290323,8.129032,5.0,49,1.838710,57,9,0.013106,1.838710
3,Alcool Club,3027,30,100.900000,6.466667,4.0,30,1.766667,53,20,0.017509,1.766667
10,Conjunto Corona,1396,26,53.692308,5.192308,1.5,29,1.615385,42,15,0.030086,1.615385
16,Dillaz,3741,35,106.885714,6.527778,4.5,37,1.527778,55,26,0.014702,1.571429
37,Regula,4756,41,116.000000,9.292683,8.0,30,1.463415,60,10,0.012616,1.463415
19,Fínix MG,1613,13,124.076923,9.769231,10.0,19,1.384615,18,5,0.011159,1.384615
47,Wet Bed Gang,2159,17,127.000000,9.176471,7.0,24,1.000000,17,6,0.007874,1.000000
28,NGA,2806,35,80.171429,10.142857,6.0,129,1.000000,35,10,0.012473,1.000000
30,Papillon,1589,10,158.900000,7.500000,7.5,27,1.000000,10,6,0.006293,1.000000
25,Keso,2251,24,93.791667,5.960000,4.0,36,0.880000,22,14,0.009773,0.916667
43,Vado Más Ki Ás,944,9,104.888889,8.111111,6.0,33,0.888889,8,8,0.008475,0.888889
45,Valete,4034,35,115.257143,4.800000,2.0,22,0.857143,30,9,0.007437,0.857143
33,Plutonio,2013,22,91.500000,3.636364,1.5,22,0.818182,18,9,0.008942,0.818182
44,Valas,628,10,62.800000,1.800000,1.0,8,0.800000,8,8,0.012739,0.800000
29,Nerve,3134,28,111.928571,6.000000,3.0,26,0.724138,21,9,0.006701,0.750000
38,Sam The Kid,5296,58,91.310345,6.016949,2.0,36,0.711864,42,9,0.007931,0.724138
13,Dealema,5179,38,136.289474,5.871795,3.0,52,0.666667,26,8,0.005020,0.684211
48,X-Tense,2210,18,122.777778,9.722222,8.0,24,0.666667,12,5,0.005430,0.666667
39,SippinPurpp,670,9,74.444444,8.222222,6.0,22,0.555556,5,5,0.007463,0.555556
6,Boss AC,4253,47,90.489362,3.750000,2.5,28,0.500000,24,9,0.005643,0.510638
17,Estraca,1792,14,128.000000,4.142857,2.5,20,0.500000,7,7,0.003906,0.500000
18,Força Suprema,1812,17,106.588235,8.941176,7.0,38,0.470588,8,3,0.004415,0.470588
27,Mike El Nite,2094,15,139.600000,6.933333,7.0,18,0.466667,7,3,0.003343,0.466667
34,Prodígio,2155,30,71.833333,4.666667,2.5,17,0.433333,13,9,0.006032,0.433333
23,Jimmy P,3184,43,74.046512,3.302326,1.0,18,0.418605,18,8,0.005653,0.418605
22,Holly Hood,1242,9,138.000000,8.777778,7.0,21,0.333333,3,3,0.002415,0.333333
12,Da Weasel,2975,36,82.638889,4.513514,3.0,41,0.324324,12,3,0.004034,0.333333
7,Carlão (PacMan),1292,16,80.750000,4.750000,0.5,50,0.312500,5,2,0.003870,0.312500
5,Bispo,3743,44,85.068182,9.727273,7.0,72,0.295455,13,3,0.003473,0.295455
11,Cálculo,1707,15,113.800000,4.800000,2.0,21,0.266667,4,3,0.002343,0.266667
32,Piruka,2564,31,82.709677,6.806452,5.0,20,0.193548,6,3,0.002340,0.193548
41,Slow J,1508,26,58.000000,2.961538,0.0,19,0.115385,3,3,0.001989,0.115385
42,Tóy Tóy T-Rex,1677,18,93.166667,5.611111,4.5,18,0.111111,2,2,0.001193,0.111111
26,LON3R JOHNY,1228,37,33.189189,2.648649,0.0,42,0.081081,3,3,0.002443,0.081081
2,Agir,1032,27,38.222222,2.037037,0.0,23,0.000000,0,0,0.000000,0.000000
40,Sir Scratch (PRT),808,7,115.428571,1.285714,1.0,4,0.000000,0,0,0.000000,0.000000
21,Gson,159,2,79.500000,2.000000,2.0,4,0.000000,0,0,0.000000,0.000000
15,Deezy (Dope Muzik),682,6,113.666667,5.333333,4.5,12,0.000000,0,0,0.000000,0.000000
46,Waze,1228,13,94.461538,3.461538,3.0,8,0.000000,0,0,0.000000,0.000000

In [ ]:
artist_word_unique = pd.DataFrame()
artist_word_unique["what"] = dataset.groupby(["artist_name", "no_stopwords"])

split_data = [list(i) for i in artist_word_unique["what"]]
artist_word_unique["Artist"] = [i[0] for i in split_data]
artist_word_unique["Lyrics"] = [i[1] for i in artist_word_unique["Artist"]]
artist_word_unique["Artist"] = [i[0] for i in artist_word_unique["Artist"]]
artist_word_unique